/* ========================================
   BUSCA E FILTROS
   ======================================== */
.busca-container {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-left: auto;
    margin-right: auto;
}

.busca-container label {
    color: #26011C;
    font-size: 1.5rem;
}

.filtro-container label {
    color: #26011C;
    font-size: 1.5rem;
}

#busca-texto {
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    border: 2px solid #26011C;
    border-radius: 6px;
    font-family: Arial, sans-serif;
    width: 100%;
    box-sizing: border-box;
}
#filtro-categoria {
    font-size: 1.5rem;
    width: 16.2rem;
    margin-bottom: 1rem;
}

#filtro-equipe {
    font-size: 1.5rem;
    width: 14.4rem;
    margin-bottom: 1rem;
}

#filtro-piloto {
    font-size: 1.5rem;
    width: 13.5rem;
    margin-bottom: 1rem;
}

#filtro-pista {
    font-size: 1.5rem;
    width: 13.2rem;
    margin-bottom: 1rem;
}