<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/filtros.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/noticias.css">
    <link rel="stylesheet" href="css/paginacao.css">
    <link rel="stylesheet" href="css/publicar.css">
    <link rel="stylesheet" href="css/slider.css">
    <link rel="stylesheet" href="css/tags.css">

    <script type="module" src="script/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Cabeçalho -->
    <template
        hx-get="html/header.html"
        hx-target="#xcabecalho"
        hx-trigger="load"
        >
    </template>
    <div id="xcabecalho"></div>

    <main>
        <!-- Slider Hero (carregado via HTMX) -->
        <template
            hx-get="html/slider.html"
            hx-target="#slider"
            hx-trigger="load"
        >
        </template>
        <div id="slider"></div>

        <!-- Barra de Pesquisa -->
        <div class="busca-container">
            <label for="busca-texto">Pesquisar notícias:</label>
            <input type="text" id="busca-texto">
        </div>

        <!-- Card de Notícia -->
        <template
            hx-get="html/card-noticia.html"
            hx-target="#noticia"
            hx-trigger="load"
            >
        </template>
        <div id="noticia"></div>
    </main>

    <hr>

    <!-- Rodapé -->
    <template
        hx-get="html/footer.html"
        hx-target="#footer"
        hx-trigger="load"
        >
    </template>
    <div id="footer"></div>
</body>
</html>