<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - Login</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/script2.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
</head>
<body>

    <!-- Cabeçalho -->
    <template
        hx-get="/componentes/header2.html"
        hx-target="#xcabecalho"
        hx-trigger="load"
        >
    </template>
    <div id="xcabecalho"></div>

    <!-- Botão "Voltar para o blog" -->
    <div class="voltar-topo">
        <a href="/pagina-principal2.html">← Voltar para o blog</a>
    </div>

    <main>
        <!-- Pagina Login -->
    <template
        hx-get="/componentes/pag-login.html"
        hx-target="#login"
        hx-trigger="load"
        >
    </template>
    <div id="login"></div>

    <hr>

    <!-- Rodapé -->
    <template
        hx-get="/componentes/footer.html"
        hx-target="#footer"
        hx-trigger="load"
        >
    </template>
    <div id="footer"></div>

</body>
</html>