<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - Pilotos</title>

    <link rel="stylesheet" href="CSS/base.css">
    <link rel="stylesheet" href="CSS/colaboradores.css">
    <link rel="stylesheet" href="CSS/filtros.css">
    <link rel="stylesheet" href="CSS/login.css">
    <link rel="stylesheet" href="CSS/noticias.css">
    <link rel="stylesheet" href="CSS/publicar.css">
    <link rel="stylesheet" href="CSS/responsividade.css">    
    <link rel="stylesheet" href="CSS/tags.css">
    
    <script src="/script.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
</head>
<body>

    <!-- Cabeçalho -->
    <template
        hx-get="/html/header2.html"
        hx-target="#xcabecalho"
        hx-trigger="load"
        >
    </template>
    <div id="xcabecalho"></div>

    <!-- Botão "Voltar para o blog" -->
    <div class="voltar-topo">
        <a href="/pagina-principal.html">← Voltar para o blog</a>
    </div>

    <main>
        <h1>Notícias dos Pilotos</h1>

        <!-- Pesquisa e Filtro -->
        <template
        hx-get="/html/filtro-pilotos.html"
        hx-target="#filtro-pilotos"
        hx-trigger="load"
        >
        </template>
        <div id="filtro-pilotos"></div>

        <!-- Card de Notícia -->
        <template
            hx-get="/html/card-noticia.html"
            hx-target="#noticia"
            hx-trigger="load"
            >
        </template>
        <div id="noticia"></div>
    </main>

    <hr>

    <!-- Rodapé -->
    <template
        hx-get="/html/footer.html"
        hx-target="#footer"
        hx-trigger="load"
        >
    </template>
    <div id="footer"></div>

</body>
</html>