@font-face {
    font-family: TerminalVelocity;
    src: url("util/TerminalVelocity.ttf");
}

header {
    text-align: center;
}

#cabecalho {
    width: 100%;
    border-radius: 30px;
    /*background-color: #26011C;*/
}

#logo-cabecalho {
    width: 100%;
}

#titulo-cabecalho {
    display: flex;
    font-size: 2.5rem;
    font-family: TerminalVelocity;
    padding: 1.5rem;
    color: #26011C;
    /*color: white;*/
    align-items: center;       
}

#icone-menu {
    width: 2.5rem;
    margin-right: 0.5rem;
}

#navegacao-cabecalho {
    text-align: right;
    font-size: 2rem;
    font-family: TerminalVelocity;
    padding: 2rem;
}

a {
    color: #26011C;
    /*color: white;*/
    text-decoration: none;
    padding: 2px;
}

footer {
    display: flex;
    width: 100%;
    justify-content: center;
}

footer > table {
    width: 100%;
}

#rodape {
    font-size: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #26011C;    
}

#rodape-direita {
    display: flex;
    justify-content: right;
}

.icon {
    width: 0.7rem;
    margin-left: 0.45rem;
    margin-right: 0.05rem;
}