@font-face {
    font-family: TerminalVelocity;
    src: url("util/TerminalVelocity.ttf");
  }

header {
    text-align: center;
}

#cabecalho {
    width: 100%;
    border-radius: 30px;
    background-color: #26011C;
}

#table2 {
    width: 100%;
    border-radius: 30px;
    background-color: #40012f
}

#logo-cabecalho {
    width: 100%;
}

#titulo-cabecalho {
    display: flex;
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 1rem;
    color: white;
    align-items: center;       
}

#icone-menu {
    width: 3rem;
    margin-right: 0.6rem;
}

#navegacao-cabecalho {
    text-align: right;
    font-size: 2rem;
    font-family: TerminalVelocity;
    padding: 2rem;
}

a {
    color: white;
    text-decoration: none;
    padding: 2px;
}

footer {
    display: flex;
    width: 100%;
    justify-content: center;
}

footer > table {
    width: 100%;
}

#rodape {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #40012f;    
}

#rodape-esquerda {
    display: flex;
    justify-content: left;
}

#rodape-direita {
    display: flex;
    justify-content: right;
}

.icon {
    width: 1rem;
    margin-left: 1rem;
    margin-right: 0.1rem;
}