<main class="pagina-login">
    <div class="login-container">
        <!-- Abas -->
        <div class="abas-login">
            <button type="button" class="aba ativa" data-aba="login">Entrar</button>
            <button type="button" class="aba" data-aba="registro">Criar Conta</button>
        </div>

        <!-- Login -->
        <template
        hx-get="html/formulario-login.html"
        hx-target="#entrar"
        hx-trigger="load"
        >
        </template>
        <div id="entrar"></div>

        <!-- Resgistro -->
        <template
        hx-get="html/formulario-registro.html"
        hx-target="#registro"
        hx-trigger="load"
        >
        </template>
        <div id="registro"></div>
    </div>
</main>